* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    
}

a {
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}

.topHead {
    display: flex;
    justify-content: space-between;
    background-color: #4444bb;
    
}

.topLeftNav {
  display: flex;
  list-style: none;
  gap: 1rem;
 
}

.topRightNav { 
    display: flex;
    list-style: none;
    gap: 1rem;
}

.bottomHead {
    display: flex;
    justify-content: space-between;

}

.qwirty {
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 34px;
    color: #33a;
    margin: 0 1rem;
}

.searchbar {

}

.finance {
    background-color: red;
}

.body {
    display: flex;
}

.categories a:hover {
    background-color: #222288;
}

.categories {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.categories a {
    font-size: .75rem;
    width: 9rem;
    background-color: #4444bb;
    text-align: center;
    font-family:'Dosis';
    margin: 0 1rem .5rem;
    padding: 1rem;

}

.productCols {
    display: flex;
    
}

.productCol {
    flex: 1;
    margin: 0 1rem 1rem 0;
    box-shadow: 0 3px 5px -2px black;
}

.productName {
    background-color: #4444bb;
    text-transform: capitalize;

}

.productImage {
    color:black;
}

.productPrice {
    background-color: #4444bb;
    text-transform: capitalize;

}
.productDescr {
    color: black;
}

.productBlocks {
    display: flex;
}
footer {
    display: flex;
    justify-content: center;
    background-color: #222255;
}

footer a:hover {
    text-decoration: underline white;
}

.footCol {
    display: flex;
    flex-direction: column;
}