* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
    /* background-color: #eeeeee; */
}

header {
    display: flex;
    flex-direction: column;
    /* background-color: #4444bb; */
}

.middle {
    display: flex;
    flex-direction:column;
}



footer {
    display: flex;
    flex-direction: column;
    background-color: #222255;
}